<%#= debug @happycustomer %>
<%#= debug @happyquote %>
<div class="container">        
  <% if params[:customer_name].blank? && @cust_id.blank? %>
  <%= form_with url: happy_quotes_path, method: :get, scope: :search, local: true do |f| %>
    <%= f.text_field :number, value: @search_number %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
   <% else %>
  <% if params[:customer_name] %>
      <h2>Happy Quotes for - <%= params[:customer_name]%> </h2>
  <% else %>
      <h2>Happy Quote </h2>
  <% end %>
  <br>
  <div class="table-responsive" id="quotes-table">
    <table class="table table-striped align-middle table-fixed">
      <colgroup>
        <col style="width: 95px">   <!-- Quote -->
        <col style="width: 110px">  <!-- Date -->
        <col style="width: 110px">  <!-- Total -->
        <col style="width: 180px">  <!-- Internal -->
        <col style="width: 180px">  <!-- External -->
        <col style="width: 180px">  <!-- PO -->
        <col style="width: 200px">  <!-- Actions -->
      </colgroup>


    <thead class="table-light">
      <tr>
        <th class="text-nowrap">Quote</th>
        <th class="text-nowrap">Quote Date</th>
        <th class="text-nowrap text-center">Total</th>
        <th>Internal Notes</th>
        <th>External Notes</th>
        <th>PO Notes</th>
        <th class="text-center text-nowrap">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @happyquote.each do |quote| %>
        <tr>
          <td class="text-nowrap"><%= quote.number %>-<%= quote.sub %></td>
          <td class="text-nowrap"><%= quote.quote_date %></td>
          <td class="text-end text-nowrap"><%= number_to_currency(quote.total || 0) %></td>


          <td class="notes-cell" title="<%= quote.internal_notes.to_s %>">
              <%= quote.internal_notes.present? ? simple_format(h(quote.internal_notes)) : "&nbsp;".html_safe %>
          </td>
          <td class="notes-cell" title="<%= quote.external_notes.to_s %>">
              <%= quote.external_notes.present? ? simple_format(h(quote.external_notes)) : "&nbsp;".html_safe %>
          </td>
          <td class="notes-cell" title="<%= quote.special_instructions.to_s %>">
              <%= quote.special_instructions.present? ? simple_format(h(quote.special_instructions)) : "&nbsp;".html_safe %>
          </td>

      <td class="text-end">
      <div class="d-grid gap-1">
        <%= link_to "Show", quote, class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to "Edit", edit_happy_quote_path(quote), class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to "Purchase Orders",
          happy_quote_po_path(quote, happy_customer_id: quote.happy_customer_id),
          class: "btn btn-outline-secondary btn-sm" %>
      </div>
      </td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <% if  params[:customer_id] %>
     <%= link_to 'New Quote', new_happy_quote_path(happy_customer_id: params[:customer_id]) %> 
  <% end %>
<% end %>
</div>
