<div class="container mb-5">
  <h2>Happy Project Team for Project # <%= params[:project_id] %></h2>
  <br>

  <%#= link_to 'Home', root_path %>

<%= simple_form_for @happyProjectTeam,
  wrapper: :vertical_form,
  wrapper_mappings: {
    boolean:       :vertical_boolean,
    check_boxes:   :vertical_collection,
    date:          :vertical_multi_select,
    datetime:      :vertical_multi_select,
    file:          :vertical_file,
    radio_buttons: :vertical_collection,
    range:         :vertical_range,
    time:          :vertical_multi_select
  } do |f| %>

  <%= f.error_notification %>


  <div class="form-group row">
    <div class="col-4">
        <%= f.input :team_name, label: false, placeholder: "Team Name" %>
    </div>

    <div class="col-3">
        <%= f.input :status, label: false, placeholder: "Status"%>
    </div>

    <div>
    <%= f.input :happy_project_id, :as => :hidden, :input_html => { :value => params[:project_id] } %>
    </div>
  </div>


  <div class="form-group row mb-0">
    <div class="col-sm-9">
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", :back, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
</div>
