<div class="container mb-5">
  <h2>Edit- Happy Standard Activities</h2>
  <br>

  <%#= link_to 'Home', root_path %>

<%= simple_form_for @happyStandardActivity,
  wrapper: :vertical_form,
  wrapper_mappings: {
    boolean:       :vertical_boolean,
    check_boxes:   :vertical_collection,
    date:          :vertical_multi_select,
    datetime:      :vertical_multi_select,
    file:          :vertical_file,
    radio_buttons: :vertical_collection,
    range:         :vertical_range,
    time:          :vertical_multi_select
  } do |f| %>

  <%= f.error_notification %>

  <%= f.input :activity_name, label: "Activity Name" %>

  <div class="form-group row">
    <div class="col-4">
        <%= f.input :description, label: "Description" %>
    </div>

    <div class="col-3">
        <%= f.input :priority, label: "Priority"%>
    </div>

    <div class="col-4">
        <%= f.input :group, label: "Group" %>
    </div>

  </div>


  <div class="form-group row">
    <div class="col-4">
      <%= f.input :dependency, label: "Dependency" %>
    </div>

    <div class="col-4">
      <%= f.input :is_vendor, label: "Vendor" %>
    </div>

  </div>

  <div class="form-group row">
    <div class="col-4">
      <%= f.input :duration, label: "Duration" %>
    </div>

    <div class="col-4">
      <%= f.input :duration_unit, label: "Duration Unit" %>
    </div>

  </div>


  <div class="form-group row mb-0">
    <div class="col-sm-9">
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", :back, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
</div>
