<div class="container mb-5">
  <!-- <h2>Add a Happy Customer Location for <%#= @happyCustomer.customer_name %></h2> -->
  <br>

  <%#= link_to 'Home', root_path %>

<%= simple_form_for @happyInstallSite,
  wrapper: :vertical_form,
  wrapper_mappings: {
    boolean:       :vertical_boolean,
    check_boxes:   :vertical_collection,
    date:          :vertical_multi_select,
    datetime:      :vertical_multi_select,
    file:          :vertical_file,
    radio_buttons: :vertical_collection,
    range:         :vertical_range,
    time:          :vertical_multi_select
  } do |f| %>

  <%= f.error_notification %>

  <%= f.error :base %>

  <h2>Create and Installation Site for - <%= @happyCustomer.customer_name %></h2>

  <div class="form-group row">
    <div class="col-6">
        <%= f.input :site_name, label: false, placeholder:  "Site Name"%>
    </div>
    <div class="col-6">
        <%= f.input :description, label: false, placeholder:  "Site Description" %>
    </div>
    <%= f.input :happy_customer_id, :as => :hidden, :input_html => { :value => params[:happy_customer_id] } %>
  </div>


  <div class="form-group row">
    <div class="col-6">
      <%= f.input :size_description, label: false, placeholder:  "Description of Area" %>
    </div>
  </div>

  <div class="form-group row">
   <div class="col-2">
      <%= f.input :length,  placeholder:  "Length" %>
    </div>
    <div class="col-2">
      <%= f.input :width,  placeholder:  "Width" %>
    </div>
    <div class="col-2">
      <%= f.input :height,  placeholder:  "Height" %>
   </div>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <%= f.input :street1, label: false, placeholder:  "Address 1" %>
    </div>
    <div class="col-6">
      <%= f.input :street2, label: false, placeholder:  "Address 2" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-4">
      <%= f.input :city, label: false, placeholder:  "City"%>
    </div>
    <div class="col-4">
      <%= f.input :state, label: false, placeholder:  "State"%>
    </div>
    <div class="col-4">
      <%= f.input :postal_code, label: false, placeholder:  "Zip"%>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <%= f.input :email, label: false, placeholder:  "Email" %>
    </div>

    <div class="col-6">
      <%= f.input :phone, label: false, placeholder:  "Phone" %>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-6">
       <label class="custom-control-inline">
         Site Type:
          <%= f.input_field :site_type, as: :radio_buttons,
              collection: [['Residential', 'Residential'], ['Business', 'Business'],
                       ['School', 'School'], ['Church', 'Church']], label: :Site %>
       </label>
    </div>
  </div>

  <div class="form-group row mb-0">
    <div class="col-sm-9">
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", :back, class: "btn btn-outline-secondary" %>
    </div>
  </div>

<% end %>
</div>
